Flask==2.3.3
flask-socketio==5.3.6
flask-cors==4.0.0
python-socketio==5.9.0
eventlet==0.36.1
gunicorn==21.2.0
Pillow==10.0.1
requests==2.31.0
geocoder==1.38.1
opencv-python-headless==4.8.1.78
pyaudio==0.2.11
pywin32==306
cryptography==42.0.5
keyboard==0.13.5
